<div id="tool-pane">

</div>


<div id="social_media">
    <ul>
        <li><%=link_to (image_tag "/images/socialmediaicons/twitter-48x48.png"), @twitter_account_url%></li>
        <li><%=link_to (image_tag "/images/socialmediaicons/facebook-48x48.png"), @facebook_account_url%></li>
        <li><%=link_to (image_tag "/images/socialmediaicons/myspace-48x48.png"), @myspace_account_url%></li>
    </ul>
</div>

<h1 id="site_header"><%= @blog_title%></h1>

<div id="index_panel">
    <%= link_to "Enter Blog", posts_path %>
</div>