<div id="tool-pane">

</div>


<div id="slide_menu">
    <ul>
        <li><%=@twitter_account_url%></li>
        <li><%=@facebook_account_url%></li>
        <li><%=@myspace_account_url%></li>
    </ul>
</div>

<h1 id="site_header"><%= @blog_title%></h1>

<div id="index_panel">
    <%= link_to "Enter Blog", posts_path %>
</div>