<% @posts.each do |post| %>
  <div class = "post">
    <h3><%= post.title %></h3>
    <p>By <%= post.name %></p>
    <%= raw post.content %>
    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
 </div>

 <br />

 <%= link_to 'New Post', new_post_path %>

<% end %>